<h1>Catalog</h1>
<p>Products:</p>
<a href="/catalog/create">Create product</a>
<ul>
  {{#each products}}
    {{> product}}
  {{else}}
    <span class="italic">No products in the database!</span>
  {{/each}}
</ul>