.nib-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 5px;
  width: 200px;
}

.card-img-top {
  height: 380px;
}

.login-page,
.register-page {
  width: 860px;
  margin: auto;
}
